.container{
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
    height: 100%;
}
body {
   width: 100%;
   background-image: linear-gradient(315deg, #36096d , #37d5d6 ) ;
}

